<h1>Edit <%= @reward.name %></h1>

<%= form_for @reward, url:{:controller=>'admin/rewards', :action=>'update'} do |f| %>
  <%= render partial: "shared/errors", locals: { target: @reward } %>

  <%= f.text_field :name, placeholder: "name" %>
  <%= f.text_field :value, placeholder: "value" %>

  <%= f.submit %>
<% end %>
