<h1>Rewards Index</h1>

<%= button_to "Create New Reward", new_admin_reward_path, method: :get, class: "button" %><br>

<table style="width:33%">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Value</th>
    <th>Tools</th>
  </tr>
  <% @rewards.each do |reward| %>
    <tr>
      <td><%= reward.id %></td>
      <td><%= link_to reward.name, reward_path(reward) %></td>
      <td><%= reward.value %></td>
      <td>
        <div class="reward_button">
          <%= button_to "Edit", edit_admin_reward_path(reward), method: :get %>
        </div>
        <div class="reward_button">
          <%= button_to "Delete", admin_reward_path(reward), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
