<h1>Welcome, <%= @user.username %></h1>

<h3><%= link_to "Purchase A Reward", edit_user_path %></h3>

<h3>Points: <%= @user.total_points %></h3>
<h3>Spent: <%= @user.spent_points %></h3>

<h3>My Rewards</h3>

<div class="user_rewards">
  <ul>
    <% @user.rewards.each do |reward| %>
      <li><%= reward.name %></li>
    <% end %>
  </ul>
</div>
