<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <ul>
        <% if session[:user_id] && User.find(session[:user_id]).admin? %>
          <li><%= link_to "PointBox Home", root_path %></li>
          <li><%= link_to "Users Index", admin_users_path %></li>
          <li><%= link_to "Rewards Shop", admin_rewards_path %></li>
          <li><%= link_to "Assign Points", new_admin_point_path %></li>
        <% else %>
          <li><%= link_to "PointBox Home", root_path %></li>
          <li><%= link_to "Rewards Shop", rewards_path %></li>
        <% end %>

        <% if session[:user_id] %>
          <li style="float:right"><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li style="float:right"><%= link_to "Login", login_path %></li>
          <li style="float:right"><%= link_to "Register", new_user_path %></li>
        <% end %>
        </li>
      </ul>
    </ul>
  </div>
</nav>
